<div>
  <.flash kind={:info} title="Success!" flash={@flash} />
  <.flash kind={:warn} title="Warning!" flash={@flash} />
  <.flash kind={:error} title="Error!" flash={@flash} />
  <.header>{@title}</.header>
  <.simple_form
    :let={f}
    for={@changeset}
    id="user-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input type="text" field={f[:name]} label="Name" />

    <.input type="email" field={f[:email]} label="Email" />

    <.input type="tel" field={f[:phone]} label="Phone Number" />

    <.rider_select
      field={f[:rider_id]}
      label="Associated Rider"
      help_text="This will eventually allow all riders to login. Be careful if changing 😸"
      selected_rider={@user.rider}
    />

    <.input
      type="checkbox"
      field={f[:is_dispatcher]}
      label="Dispatcher"
      help_text="Is this user a dispatcher?"
    />

    <div class="relative">
      <.input
        type="text"
        field={f[:signature_on_messages]}
        label="Signature on Messages"
        help_text={signature_help_text(@changeset)}
        autocomplete="off"
      />
      <%= if has_signature?(@changeset) do %>
        <button
          type="button"
          phx-click="clear_signature"
          phx-target={@myself}
          class="absolute right-2 top-8 text-gray-400 hover:text-gray-600"
          aria-label="Clear signature"
        >
          <Heroicons.x_mark mini class="mt-0.5  w-5 h-5" />
        </button>
      <% end %>
    </div>

    <:actions>
      <.button type="submit" phx-disable-with="Saving...">Save</.button>
    </:actions>
  </.simple_form>
</div>
