<.header>
  Users
  <:subtitle>
    All of the users who have access to the Dispatch app. This includes Dispatchers and Riders.
  </:subtitle>
</.header>
<.table id="users" rows={@users} row_class="user-row">
  <:col :let={user} label="Name">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <img class="w-10 h-10 rounded-full" src={gravatar(user.email)} alt="" />
      </div>
      <div class="ml-4 ">
        <div class="text-sm font-medium leading-5 text-gray-900">{user.name}</div>
        <div class="text-sm leading-5 text-gray-500">{user.email}</div>
      </div>
    </div>
  </:col>
  <:col :let={user} label="Phone">
    {user.phone}
  </:col>
  <:col :let={user} label="Status">
    <div class="flex space-x-2">
      <.with_tooltip :if={user.is_dispatcher}>
        🧑‍🔧
        <:tooltip>Dispatcher</:tooltip>
      </.with_tooltip>
      <.with_tooltip :if={user.rider_id}>
        🚴
        <:tooltip>Rider</:tooltip>
      </.with_tooltip>
    </div>
  </:col>

  <:action :let={user}>
    <.link patch={~p"/users/#{user}/edit"} class="link">
      Edit <span class="sr-only">, {user.name}</span>
    </.link>
  </:action>
  <:action :let={user}>
    <.link
      phx-click={JS.push("delete", value: %{id: user.id})}
      data-confirm="Are you sure?"
      class="link"
    >
      Delete <span class="sr-only">, {user.name}</span>
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="user-modal"
  show
  on_cancel={JS.navigate(~p"/users")}
>
  <.live_component
    module={BikeBrigadeWeb.UserLive.FormComponent}
    id={@user.id || :new}
    action={@live_action}
    title={@page_title}
    user={@user}
    navigate={~p"/users"}
  />
</.modal>
