<div>
  <.header>{@title}</.header>
  <.simple_form
    :let={f}
    for={@changeset}
    id="community-fridge-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input type="text" field={f[:name]} label="Name" />

    <.input type="textarea" field={f[:description]} label="Description" />

    <.input type="text" field={f[:photo]} label="Photo URL" />

    <.input
      type="checkbox"
      field={f[:active]}
      label="Active"
    />

    <.input
      type="checkbox"
      field={f[:pair_preferred]}
      label="Pair Preferred"
      help_text="Deliveries to this fridge prefer a rider pair"
    />

    <:actions>
      <.button navigate={~p"/community_fridges"} color={:white}>
        Cancel
      </.button>
      <.button type="submit" phx-disable-with="Saving...">Save</.button>
    </:actions>
  </.simple_form>
</div>
