<div>
  <.header>{@title}</.header>
  <.simple_form
    :let={f}
    for={@changeset}
    id="community-fridge-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input type="text" field={f[:name]} label="Name" />
    <.input type="textarea" field={f[:description]} label="Description" />
    <.input type="checkbox" field={f[:pair_preferred]} label="Pair Preferred" />
    <.input type="checkbox" field={f[:active]} label="Active" />

    <div>
      <label class="block text-sm font-semibold leading-6 text-zinc-800">Photo</label>

      <%= if current_photo = Phoenix.HTML.Form.input_value(f, :photo) do %>
        <figure class="mt-2">
          <img class="w-32" src={current_photo} />
          <input type="hidden" name={Phoenix.HTML.Form.input_name(f, :photo)} value={current_photo} />
          <figcaption class="flex justify-end w-32">
            <button
              type="button"
              phx-click={JS.push("remove_photo", target: @myself)}
              aria-label="remove photo"
            >
              &times;
            </button>
          </figcaption>
        </figure>
      <% end %>

      <div
        class="flex justify-center px-6 py-10 mt-2 border border-dashed rounded-lg border-gray-900/25"
        phx-drop-target={@uploads.photo.ref}
      >
        <div class="text-center">
          <Heroicons.photo solid class="w-12 h-12 mx-auto text-gray-300" />
          <div class="flex mt-4 text-sm leading-6 text-gray-600">
            <label
              for={@uploads.photo.ref}
              class="relative font-semibold text-indigo-600 bg-white rounded-md cursor-pointer focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
            >
              <span>Upload a file</span>
              <.live_file_input upload={@uploads.photo} class="sr-only" />
            </label>
            <p class="pl-1">or drag and drop</p>
          </div>
          <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB · 1 photo max</p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 mt-2">
        <figure :for={entry <- @uploads.photo.entries}>
          <.live_img_preview entry={entry} class="w-32" />
          <figcaption class="flex">
            <div class="mr-1">{entry.client_name}</div>
            <button
              type="button"
              phx-click={JS.push("cancel_upload", value: %{ref: entry.ref}, target: @myself)}
              aria-label="cancel"
            >
              &times;
            </button>
          </figcaption>
          <p :for={err <- upload_errors(@uploads.photo, entry)} class="text-sm text-red-600">
            {error_to_string(err)}
          </p>
        </figure>
      </div>
    </div>

    <:actions>
      <.button type="submit" phx-disable-with="Saving...">Save</.button>
    </:actions>
  </.simple_form>
</div>
