<.header>
  Community Fridges
  <:subtitle>
    Community fridges are neighbourhood food-sharing locations. Dispatchers can manage fridge details here.
  </:subtitle>
</.header>
<div class="flex justify-end items-center gap-2 mb-2">
  <div class="inline-flex rounded-md shadow-sm">
    <button
      phx-click={JS.push("set_mode", value: %{mode: :list})}
      type="button"
      class={"#{if @mode == :list, do: "bg-gray-300", else: "bg-white"} relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 rounded-l-md hover:bg-gray-200 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"}
    >
      <Heroicons.table_cells mini class="w-5 h-5 mr-1" /> List
    </button>
    <button
      phx-click={JS.push("set_mode", value: %{mode: :map})}
      type="button"
      class={"#{if @mode == :map, do: "bg-gray-300", else: "bg-white"} relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 border border-gray-300 rounded-r-md hover:bg-gray-200 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"}
    >
      Map <Heroicons.map mini class="w-5 h-5 ml-1" />
    </button>
  </div>
  <.button patch={~p"/community_fridges/new"}>
    New Community Fridge
  </.button>
</div>

<%= if @mode == :map do %>
  <div class="min-w-full bg-white rounded-lg shadow">
    <div class="p-1 h-[80vh]">
      <.map
        id="community-fridges-map"
        coords={@map_coords}
        initial_layers={@map_layers}
        class="h-full"
      />
    </div>
  </div>
<% else %>
  <.table id="community_fridges" rows={@community_fridges}>
    <:col :let={community_fridge} label="Name">
      {community_fridge.name}
    </:col>
    <:col :let={community_fridge} label="Address">
      {community_fridge.location}
    </:col>
    <:col :let={community_fridge} label="Description">
      {community_fridge.description}
    </:col>
    <:col :let={community_fridge} label="Pair Preferred">
      {if community_fridge.pair_preferred, do: "Yes", else: "No"}
    </:col>
    <:col :let={community_fridge} label="Active">
      {if community_fridge.active, do: "Yes", else: "No"}
    </:col>

    <:action :let={community_fridge}>
      <.link patch={~p"/community_fridges/#{community_fridge.id}/edit"} class="link">
        Edit
      </.link>
    </:action>
  </.table>
<% end %>

<.modal
  :if={@live_action in [:new, :edit]}
  id="community-fridge-modal"
  show
  on_cancel={JS.navigate(~p"/community_fridges")}
>
  <.live_component
    module={BikeBrigadeWeb.CommunityFridgeLive.FormComponent}
    id={@community_fridge.id || :new}
    action={@live_action}
    title={@page_title}
    community_fridge={@community_fridge}
    navigate={~p"/community_fridges"}
  />
</.modal>
