<div>
  <%= if is_nil(@selected_rider) do %>
    <div>
      No riders have been added to this campaign. Add some riders to be able to send messages.
    </div>
  <% else %>
    <div data-test-campaign-message-list class="flex h-[calc(100vh-8rem)]">
      <div
        id="campaign-conversation-list"
        class={[
          "bg-white w-full sm:w-4/12 shadow border border-gray-200 rounded-lg sm:mr-4",
          not is_nil(@selected_rider_id) && "hidden sm:block"
        ]}
      >
        <.sms_message_list
          rider_link_fn={
            fn rider_id -> ~p"/campaigns/#{@campaign_id}/messaging/riders/#{rider_id}" end
          }
          conversations={@streams.conversations}
        />
      </div>

      <div
        id="campaign-conversation"
        class={[
          "w-full sm:w-8/12 max-h-[calc(100vh-8rem)] rounded border border-gray-200",
          if(is_nil(@selected_rider_id), do: "hidden sm:flex", else: "flex")
        ]}
      >
        <.live_component
          module={ConversationComponent}
          id={@selected_rider.id}
          live_action={@live_action}
          current_user={@current_user}
          rider={@selected_rider}
          mobile_visible={not is_nil(@selected_rider_id)}
          back_patch={~p"/campaigns/#{@campaign_id}/messaging/riders/"}
          show_tasks_link={false}
        />
      </div>
    </div>
  <% end %>
</div>
